.country-container {
  padding: 0 5%;
  display: grid;
  align-items: start;
  height: 80dvh;
  margin-bottom: 10dvh;
}

.country-back-btn {
  margin-top: 4%;
  width: 8.5rem;
  height: 2.5rem;
  text-align: center;
  background-color: var(--BG-cards);
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.country-back-btn:hover {
  scale: 1.1;
  transition: all 0.2s;
}

.inner-country-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 3em;
}

.country-flag {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.country {
  padding: 3% 0;
  height: 100%;
  display: grid;
  align-content: space-evenly;
  /* row-gap: 10%; */
}

.country-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  row-gap: 10px;
  align-items: start;
  justify-items: start;
}

.country-desc span {
  font-weight: 300;
}

.inner-country-container h5 {
  font-size: 1em;
  font-weight: 600;
  text-transform: capitalize;
}

.border-countries-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.border-countries {
  width: 4em;
  height: 1.75em;
  text-align: center;
  background-color: var(--BG-cards);
  border-radius: 3px;
  display: grid;
  place-content: center;
}

@media screen and (max-width: 1440px) {
  .country {
    align-content: center;
    row-gap: 8%;
  }
}

@media screen and (max-width: 1175px) {
  .country {
    align-content: center;
    row-gap: 7%;
  }
  .country-desc {
    column-gap: 20px;
  }

  .country-desc div {
    row-gap: 5px;
  }

  .border-countries-container {
    grid-gap: 5px;
  }
}

@media screen and (max-width: 1025px) {
  .country-container {
    height: 100%;
  }

  .country {
    row-gap: 4%;
  }
  .country-flag {
    width: 80%;
  }

  .inner-country-container {
    grid-template-columns: 1fr;
    row-gap: 2.5em;
    justify-content: center;
    justify-items: baseline;
  }
  .country-desc {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .h5-desc {
    padding-top: 5%;
  }

  .border-countries-container h5 {
    width: 100%;
  }

  .country-back-btn {
    margin: 3% 0;
  }
}

@media screen and (max-width: 800px) {
  .country-flag {
    width: 100%;
  }

  .country-desc {
    row-gap: 5px;
  }

  .country-back-btn {
    width: 6.5rem;
    height: 2rem;
  }
}
