@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
}

body {
  --BG-body: #f2f2f2;
  --BG-cards: #ffffff;
  --text-color: #111517;

  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  background-color: var(--BG-body);
  /* height: 90dvh; */
}

body.dark {
  --BG-body: #202c36;
  --BG-cards: #2b3844;
  --text-color: #ffffff;
}

#root {
  display: grid;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 380px) {
  body {
    font-size: 0.58rem;
  }
}

.loader {
  display: grid;
  place-items: center;
  /* width: 100vw; */
  height: 90dvh;
  background-color: var(--BG-body);
}

ion-spinner {
  width: 100px;
  height: 100px;
  --color: var(--text-color);
  background-color: var(--BG-body);
}
